@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Poppins&family=Roboto&family=Roboto+Mono&display=swap');

/* --------------------------- BASE RULES / BASE STYLES ---------------------------- */
:root {
    /* Layout */
    box-sizing: border-box;

    /* Typography */
    --font-size-default: .875em; /* sets the default size to 14px (i.e. 14/16 = 0.875) */
    --font-size-primary: 3rem;
    --font-size-secondary: calc(2em + 1vw);
    --font-family: "Poppins", Helvetica, Arial, sans-serif;
    --font-family-footer: "Roboto Mono", Helvetica, Arial, sans-serif;

    /* HSL color mode */
    --color-primary: hsl(180.47, 100%, 25.29%);
    --color-secondary: hsl(60, 55.56%, 91.18%);
    --color-tertiary: hsl(0, 0%, 86.27%);
    --color-black: hsl(0, 0%, 49%);
    --universal-yellow: yellow;
    --scroll-bar-color: var(--color-primary);
    --scroll-thumb-hover-color: royalblue;

}

*,
::before,
::after {
    box-sizing: inherit; /* thired-party css compoonents might come with "content-box" top-level containers */
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: var(--font-family);
    background-color: hsl(0, 1%, 43%); /* or #d8d8d8 */
}


/* --------------------------- MODULE RULES ---------------------------- */
.timer {
    background-color: var(--color-primary);
    text-align: center;
    padding: .5em;
    color: var(--color-secondary);
    font-size: var(--font-size-secondary);
    height: 100vh;
}
@media (max-width: 991.98px) {
    .timer {
        height: calc(100vh - 356px);
    }
}

.play-stop {
    cursor: pointer;
    /* background-color: var(--color-primary); */
    /* padding: 2rem 0; */
    overflow-x: auto;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    background: none;
    font-size: var(--font-size-secondary);
    color: var(--universal-yellow);
}

.equation {
    background-color: var(--color-tertiary);
}

.x, .y, .plus {
    font-size: var(--font-size-primary);
    color: var(--color-primary);
}

.answer {
    font-size: var(--font-size-default);
    text-align: center;
}
.answer__a, .answer__b {
    font-size: var(--font-size-primary);
}
.answer.answer--one, .answer.answer--two {
    color: var(--color-tertiary);
    background-color: var(--color-secondary);
}
.answer:hover {
    background-color: white;
}


/* ---------- PROGRESS BAR ---------- */
.progress{
    height: 50px;
}
.progress__bar {
    transition: .4s;
    /* width: 40%; */
    /* background-color: var(--color-primary); */
}

/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[name=levels] {
    display:none;
}

/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[name=levels] + label {/* could only be just "label" */
    cursor: pointer;
    color: white;
    font-size: var(--font-size-default);
    margin: -2px;
    padding: .9em 2.55rem;
    width: 100%;
    text-align: center;
    /* background-color: var(--color-tertiary); */
}

/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[name=levels]:checked + label { 
    color: var(--color-primary);
    /* background-color: var(--color-secondary); */
}

.footer {
    font-family: var(--font-family-footer);
    background-color: var(--color-secondary);
    font-size: calc(var(--font-size-default) - 30%);
    color: var(--color-black);
    padding: .9em 0;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}

/* ---------- SCROLL BAR ---------- */
::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);
}
::-webkit-scrollbar-thumb {
    background-color: var(--universal-yellow);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-thumb-hover-color);
}


/* ---------- UTILITY CLASSES ---------- */
.box {
    background-color: var(--color-tertiary);
    /* border: black 1px solid; */
    padding: 0;
}

.pointer {
    cursor: pointer;
}





/* ---------------------------------- OBSOLETE  */
/* ---------------------------------- CODE      */
/* ---------------------------------- BELOW     */
/* .form input[type=button] {
    width: 100%;
    margin: 0;
    background-color: var(--color-tertiary);
    padding: 1.5em;
    border: none;
    color: white;
    font-size: .86rem;
} */
